{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	{% block head %}
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />

	<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
	<!-- css -->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="{% static 'IMMP/css/bootstrap-min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'IMMP/css/fancybox/jquery-fancybox.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'IMMP/css/jcarousel.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'IMMP/css/flexslider.css' %}" rel="stylesheet" type="text/css" >
	<link href="{% static 'IMMP/css/style.css' %}" rel="stylesheet" type="text/css">


	<!-- Theme skin -->
	<link href="{% static 'IMMP/skins/default.css' %}" rel="stylesheet" type="text/css">

	<!-- Login form -->
		{% endblock %}

</head>

<body>
	<div id="wrapper">
		<!-- start header -->
		<header>
			<div class="navbar navbar-default navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
						</button>
						<img style="float: left;" src="{% static 'IMMP/img/zest.jpg' %}">
						<a class="navbar-brand" href="/index">Zest Smart Solutions Pvt. Ltd.<br>
							<p><span style="font-size: 15px;">DIPP Startup Certificate Recognition No:DIPP552</span></p>
						</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/index">Home</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">About Us <b class=" icon-angle-down"></b></a>
								<ul class="dropdown-menu">
									<li><a href="/team">Team</a></li>
									<li><a href="/contact">Contact Us</a></li>
									<li><a href="/faq">FAQ</a></li>
								</ul>
							</li>
							<li><a href="/projects">Projects</a></li>
							<li><a href="/members">Members</a></li>
							{% if user.is_authenticated %}
							    <li><a href="/accounts/logout">Log out</a></li>
							    <li><a href="/dashboard">My Dashboard</a></li>
							{% else %}
							    <li><a href="/accounts/login">Log In</a></li>
							    <!-- <li><a href="/signup">Sign Up</a></li> -->
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</header>
		<!-- end header -->
		<section id="featured">
			<div class="container">
                {% block content %}
                {% endblock %}
            </div>
		</section>
		<footer>

		</footer>
	</div>
	<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
	<!-- javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->


	  <!-- Modal -->
	  <div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Login</h4>
				</div>
				<div class="modal-body">
						<form method="post">
							{% csrf_token %}
							{{ from.as_p }}
						</form>
				</div>
			</div>

			</div>
		</div>

	<script src="{% static 'IMMP/js/jquery.js' %}"></script>
	<script src="{% static 'IMMP/js/jquery_easing.js' %}"></script>
	<!-- <script src="{% static 'IMMP/js/flexslider/jquery-flexslider.js' %}"></script> -->
	<script src="{% static 'IMMP/js/bootstrap-min.js' %}"></script>
	<script src="{% static 'IMMP/js/jquery-fancybox.pack.js' %}"></script>
	<script src="{% static 'IMMP/js/jquery-fancybox-media.js' %}"></script>
	<script src="{% static 'IMMP/js/google-code-prettify/prettify.js' %}"></script>
	<script src="{% static 'IMMP/js/portfolio/jquery-quicksand.js' %}"></script>
	<script src="{% static 'IMMP/js/portfolio/setting.js' %}"></script>
	<script src="{% static 'IMMP/js/jquery-flexslider.js' %}"></script>
	<script src="{% static 'IMMP/js/animate.js' %}"></script>
	<script src="{% static 'IMMP/js/custom.js' %}"></script>

</body>

</html>
